header {
    background:rgb(78, 78, 78);
    height: 90px;
}

a {
    color: white;
}
    .logo {
        font-weight: bold;
        font-size: 15px;
    }
    .logo:hover{
        background-color:rgb(78, 78, 78);
    }

    .burger{
        color: #F5FFFF;
        padding: 10px;
    }

    ::ng-deep .mat-menu-panel {
        top: 90px !important;
        left: 0px !important;
        max-width: none!important;
        min-width: 100vw !important;
      }

    ::ng-deep .cdk-overlay-pane {
    top: 90px !important;
    left: 0px !important;
    }

    nav {
        justify-self: right;
        /* padding: 12.8px; */

    } 

    .nav-holder{

    }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            float: left;
            }
                a {
                    padding: 1em;
                    text-transform: uppercase;
                    font-size: .8em;
                }
                    a:hover {
                        background: rgb(112, 112, 112);
                    }
                