<div class="section-header">
        <h1>Indkøbsliste</h1>
        <hr>
        <br/>
</div>
<div class="content">

    <div class="image-div indkoebsliste">
        
    </div>
    <a href="https://github.com/kristoffersurrow/Indkoebsliste" target="_blank">
        <button mat-raised-button color="warn">Se koden på GitHub <fa class="chevron-right" name="chevron-right"></fa></button>
    </a>


    <div class="text-div">
        <p>Denne RESTful API er udviklet i det nyere ASP.NET Core, og returnerer data i JSON-format fra en database der repræsenterer en indkøbsliste.</p>
        <p>Til at kommunikere med databasen er brugt Entity Framework, og til at præsentere data er oprettet en simpel Client der kommunikerer med API'en via AJAX.</p>
        <p>For at teste webservicen's kommunikation med databasen, er brugt Dependency Injection, og et Mock repository.</p>
        <p>Det har jeg lært:</p>
        <ul>
            <li>ASP.NET Core</li>
            <li>Entity Framework</li>
            <li>Dependency Injection</li>
            <li>Unit tests med Mock repository</li>
            <li>M(V)C</li>
        </ul>
    </div>
</div>
