<section class="white-bg">
  <div class="spacer-small"></div>
    <div class="section-header">
      <h1>Mine Skills</h1>
    </div>
  
    <hr>
    <div class="spacer-small"></div>
    <div class="grid-container">
  
      <div class="grid-item animated slideInLeft">
        <div class="technology">
          <h3>
            <fa class="fa-skill" name="file-code-o"></fa>
            Backend
          </h3>
          <ul>
            <li>C#</li>
            <li>PHP</li>
            <li>ASP.NET Core 2.0</li>
            <li>Entity Framework</li>
            <li>REST API</li>
            <li>MVC</li>
            <li>Visual Studio</li>
          </ul>
        </div>
      </div>

      <div class="grid-item animated slideInLeft">
        <div class="technology">
          <h3>
            <fa class="fa-skill" name="file-image-o"></fa>
            Frontend
          </h3>
          <ul>
            <li>JavaScript (ES6)</li>
            <li>JQuery</li>
            <li>AJAX</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
          </ul>
        </div>
      </div>

      <div class="grid-item animated slideInRight">
        <div class="technology">
          <h3>
            <fa class="fa-skill" name="database"></fa>
            Databaser
          </h3>
          <ul>
            <li>SQL</li>
            <li>Stored Procedures</li>
            <li>MSSQL</li>
            <li>MySQL</li>
          </ul>
        </div>
      </div>

      <div class="grid-item animated slideInRight">
        <div class="technology">
          <h3>
            <fa class="fa-skill" name="terminal"></fa>
            Andet
          </h3>
          <ul>
            <li>GIT</li>
            <li>WPF</li>
            <li>Bootstrap</li>
            <li>Unit Tests</li>
            <li>Design Patterns</li>

          </ul>
        </div>
      </div>

  
    </div>
  
    <div class="spacer"></div>
</section>
