<section>

  <div class="spacer-small"></div>
  <div class="section-header">
    <h1>Lidt om mig...</h1>
  </div>

  <hr>
  <div class="spacer-small"></div>
  <div class="grid-container">

    <div class="grid-item animated slideInLeft">
      <h2>Hej med dig! <br/> Mit navn er Kristoffer Surrow. <br/>Jeg er Softwareudvikler og Full-stack Webudvikler.</h2>
      <p>I efteråret 2017 prøvede jeg for første gang kræfter som webudvikler, 
        dette fangede virkelig min interesse for IT-udvikling, 
        og jeg startede hurtigt derefter på en aftenskoleuddannelse i IT.</p>
      <p>Jeg har en stor passion for at udvikle og lære nye teknologier, for altid at levere løsninger i den bedste kvalitet</p>

      <button mat-button (click)="scroll()" class="contact-button">Kom i kontakt</button>
    </div>

    <div class="grid-item image-bg animated slideInRight"></div>

  </div>
  <div class="spacer"></div>

</section>
