<section class="white-bg">
    <div class="spacer-small"></div>
      <div class="section-header">
        <h1>Hvorfor arbejde med mig?</h1>
        <hr>
        <h2>Der er mange grunde til at arbejde med mig. Her er et par stykker:</h2>
      </div>
    
      <div class="spacer-small"></div>
      <div class="grid-container">
    
        <div class="grid-item">
          <div class="technology">
            <fa class="fa-work" name="code"></fa>
            <h3>
              Passioneret for at udvikle
            </h3>
            <p>Jeg er overbevist om at det bedste arbejde laves af passionerede medarbejdere.</p>
          </div>
        </div>
  
  
        <div class="grid-item">
          <div class="technology">
            <fa class="fa-work" name="leanpub"></fa>
            <h3>
              Hurtig til at lære og levere
            </h3>
            <p>Selvsikker i mine evner til at lære nyt, og sætte det i produktion.</p>
          </div>
        </div>
   
   
        <div class="grid-item">
          <div class="technology">
            <fa class="fa-work" name="graduation-cap"></fa>
            <h3>
              Analytisk af natur
            </h3>
            <p>Jeg går altid analytisk til værks, og fokuserer på den rette løsning fra starten.</p>
          </div>
        </div>

  
    
      </div>
    
      <div class="spacer"></div>
  </section>
  