<div class="section-header">
  <h1>React - Indkøbskurv</h1>
  <hr>
  <br/>
</div>
<div class="content">

<div class="image-div shoppingcart">
  
</div>

<a href="https://github.com/kristoffersurrow/ShoppingCart" target="_blank">
  <button mat-raised-button color="primary">Se koden på GitHub <fa class="chevron-right" name="chevron-right"></fa></button>
</a>

<div class="text-div">
  <p>Dette projekt repræsenterer funktionalitet fra en online indkøbskurv.</p>
  <p>Til dette er brugt React, hvor data er sendt mellem flere components, og events håndteres og ændrer state.</p>
  
</div>
</div>