<div class="section-header">
  <h1>NettoP - Mønsterguide</h1>
  <hr>
  <br/>
</div>
<div class="content">

<div class="image-div nettop">
  
</div>

<a href="https://github.com/kristoffersurrow/Nettoperforering" target="_blank">
  <button mat-raised-button color="warn">Se koden på GitHub <fa class="chevron-right" name="chevron-right"></fa></button>
</a>

<div class="text-div">
  <p>Nettoperforering.dk er en hjemmeside lavet i Wordpress CMS, for smedefirmaet Netto Perforering.</p>
  <p>Da jeg ikke længere har adgang til at redigere sitet, og da den færdige side endnu ikke er publiseret,
    har jeg:</p>
  <ul>
    <li>skrevet et par af siderne i rå HTML og CSS</li>
    <li>lavet en video af "Mønsterguiden"</li>
    <li>linket til den oprindelige "Mønsterguide" på nettoperforering.dk's ufærdige side (som ikke er garanteret at virke)</li>
  </ul>
  <p>Det har jeg lært:</p>
  <ul>
      <li>JavaScript</li>
      <li>JQuery</li>
      <li>AJAX</li>
      <li>PHP</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>

  </ul>
</div>
</div>