<div class="section-header">
  <h1>Vue - Skillslist</h1>
  <hr>
  <br/>
</div>
<div class="content">

<div class="image-div skillslist">
  
</div>

<a href="https://github.com/kristoffersurrow/Skillslist" target="_blank">
  <button mat-raised-button color="warn">Se koden på GitHub <fa class="chevron-right" name="chevron-right"></fa></button>
</a>

<div class="text-div">
  <p>Dette projekt repræsenterer funktionalitet fra en chat-app.</p>
  <p>Til dette er brugt Vue, hvor data er sendt mellem flere components, og events håndteres.</p>
  
</div>
</div>