<section class="white-bg">
    <div class="spacer-small"></div>
      <div class="section-header">
        <h1>Kontakt mig</h1>
      </div>
    
      <hr>
      <div class="spacer-small"></div>
      <div class="grid-container">
        <div class="grid-item">
          <ul>
            <li>
              <h3>
                <div><fa class="fa-logo" name="address-book-o"></fa></div>
                Kristoffer Surrow
              </h3>
            </li>
            <li>
              <h3>
                <div><fa class="fa-logo" name="map-marker"></fa></div>
                7400 Herning, Danmark
              </h3>
            </li>
            <li>
              <h3>
                <div><fa class="fa-logo" name="mobile"></fa></div>
                60 24 32 93
              </h3>
            </li>
          </ul>
          </div>
          <div class="grid-item">

            <ul>
              <li>
                <a href="mailto:surrow@outlook.com">
                  <h3>
                    <div><fa class="fa-logo" name="envelope-o"></fa></div>
                    Email
                  </h3>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kristoffersurrow/" target="_blank">
                  <h3>
                    <div><fa class="fa-logo" name="linkedin"></fa></div>
                    LinkedIn
                  </h3>
                </a>
              </li>
              <li>
                <a href="https://github.com/kristoffersurrow" target="_blank">
                  <h3>
                    <div><fa class="fa-logo" name="github"></fa></div>
                    GitHub
                  </h3>
                </a>
              </li>
            </ul>
          </div>



        <!-- <div class="grid-item">
          <div>
            <h3>
              <fa class="fa-logo" name="address-book-o"></fa>
              Kristoffer Surrow
            </h3>
          </div>
        </div>

        <div class="grid-item">
          <div>
            <h3>
              <fa class="fa-logo" name="map-marker"></fa>
              7400 Herning, Danmark
            </h3>
          </div>
        </div>

        <div class="grid-item">
          <div>
            <h3>
              <fa class="fa-logo" name="mobile"></fa>
              60 24 32 93
            </h3>
          </div>
        </div>

        <div class="grid-item">
          <div>
            <h3>
              <fa class="fa-logo" name="map-marker"></fa>
              7400 Herning, Danmark
            </h3>
          </div>
        </div>

        <div class="grid-item">
          <div>
            <h3>
              <fa class="fa-logo" name="map-marker"></fa>
              7400 Herning, Danmark
            </h3>
          </div>
        </div> -->
  
      </div>
    
      <div class="spacer"></div>
  </section>
  