<div class="section-header">
    <h1>SmartPizza</h1>
    <hr>
    <br/>
</div>
<div class="content">

<div class="image-div smartpizza">
    
</div>

<a href="https://github.com/kristoffersurrow/SmartPizza" target="_blank">
    <button mat-raised-button color="primary">Se koden på GitHub <fa class="chevron-right" name="chevron-right"></fa></button>
</a>

<div class="text-div">
    <p>Denne WPF-applikation kan bruges til at bestille pizzaer, hvor de bestilte pizzaer præsenteres i en oversigt (kurv).</p>
    <p>Derudover beregnes prisen og antallet af kalorier for den valgte, samt alle pizzaer.</p>
    <p>Fokus for denne applikation har været at gøre de forskellige valg af pizzaer og tilbehør uafhængige af hinanden.</p>
    <p>Dette er gjort ved brug af et "Factory pattern" i samarbejde med et "Decorator pattern".</p>
    <p>Det har jeg lært:</p>
    <ul>
        <li>C#</li>
        <li>Design patterns (Factory, Decorator)</li>
        <li>Interfaces, Inheritance, Abstraction</li>
        <li>WPF</li>

    </ul>
</div>
</div>